# Eat Safe, Love

## Notebook Set Up

In [11]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [12]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [13]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [14]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [15]:
# assign the collection to a variable
establishments = db['establishments']

In [16]:
all_documents = list(establishments.find())
print("Total documents in collection:", len(all_documents))

Total documents in collection: 2

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [17]:
hygiene_query = {"scores.Hygiene": 20}

hygiene_20 = establishments.find(hygiene_query)

pprint(hygiene_20[0])

IndexError: no such item for Cursor instance

In [11]:
# Convert the cursor result to a list and then to a Pandas DataFrame
hygiene_df = pd.DataFrame(list(hygiene_20))

# Display the number of rows in the DataFrame
print("Documents in DataFrame:", len(hygiene_df))

# Display the first 10 rows of the DataFrame
print(hygiene_df.head(10))

Documents in DataFrame: 0
Empty DataFrame
Columns: []
Index: []

In [12]:
# Use count_documents to display the number of documents in the result
print("Number of documents", establishments.count_documents(hygiene_query))

# Display the first document in the results using pprint
results = list(establishments.find(hygiene_query))
results_df = pd.DataFrame(results)

Number of documents 0

In [13]:
# Convert the result to a Pandas DataFrame
hygiene_20 = establishments.find(hygiene_query)
hygiene_df = pd.DataFrame(hygiene_20)

# Display the number of rows in the DataFrame
print("Documents in DataFrame", len(hygiene_df))

# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

Documents in DataFrame 0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [14]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
rating_query = {"LocalAuthority": {"$regex": "London"}, "RatingValue": {"$gte": 4}}

# Use count_documents to display the number of documents in the result
print("Number of docuemnts in result:", establishments.count_documents(rating_query))

# Display the first document in the results using pprint
results = establishments.find(rating_query)
results_df = pd.DataFrame(results)

Number of docuemnts in result: 0

In [15]:
# Convert the result to a Pandas DataFrame
london = establishments.find(rating_query)
london_df = pd.DataFrame(london)

# Display the number of rows in the DataFrame
print("Documents in DataFrame", len(london_df))
      
# Display the first 10 rows of the DataFrame
london_df.head(10)

Documents in DataFrame 0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [16]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000


query = {'geocode.latitude': {'$gte':latitude-degree_search, '$lte':latitude+degree_search},
         'geocode.longitude': {'$gte': longitude-degree_search, '$lte': longitude+degree_search},
         'RatingValue': 5}
sort = [('scores.Hygiene', 1)]
limit = 5

# Print the results
results = list(establishments.find(query).sort(sort).limit(limit))
print(results)

[]

In [17]:
# Convert result to Pandas DataFrame
penang = establishments.find(query).sort(sort).limit(limit)
penang_df = pd.DataFrame(penang)
penang_df

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [18]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

pipeline = [
    {"$match": {"scores.Hygiene": 0}},
    {"$group": {"_id": "$LocalAuthorityName", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}}
]

# Print the number of documents in the result
results = list(establishments.aggregate(pipeline))
print( len(results))

# Print the first 10 results
pprint(results[0:10])

0
[]

In [19]:
# Convert the result to a Pandas DataFrame
results_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Rows:", len(results_df))

# Display the first 10 rows of the DataFrame
results_df.head(10)

Rows: 0

Empty DataFrame
Columns: []
Index: []